@inherits LayoutComponentBase

<div class="top-bar">
    <img class="logo" src="img/logo.png" />

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/medicine.svg" />
        <div>Get Drugs</div>
    </NavLink>
    <NavLink href="myorders" class="nav-tab">
        <img src="img/bike.svg" />
        <div>My Orders</div>
    </NavLink>
</div>

<div class="content">
    @Body
</div>

