@inherits LayoutComponentBase

<div class="top-bar">
  <img class="logo" src="img/logo.png" />

  <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
    <img src="img/medicine.svg" />
    <div>Get Drugs</div>
  </NavLink>
</div>

<div class="content">
  @Body
</div>
