@foreach (var Drug in Order.Drugs) {
<p>
  <strong>
    @(Drug.Quantity) x @Drug.Deal.Name ($@Drug.GetFormattedTotalPrice())
  </strong>
</p>
}

<p>
  <strong>
    Total price: $@Order.GetFormattedTotalPrice()
  </strong>
</p>

@code { [Parameter] public Order Order { get; set; } }
